.navbar-brand {
	padding-top: 12px;
}
.card-default {
	margin-top: 10px;
	margin-left: 10px;
	margin-right: 10px;
	
}

.alert {
	margin-top: 10px;
	margin-left: 10px;
	margin-right: 10px;
}

.has-error {
  background-color: #ffdddd;
  border-color: #800000;
}
