<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
	<meta charset="UTF-8"/>
	<meta name="viewport" content="width=device-width" />

	<title>Плащания</title>

	<link th:href="@{/webjars/bootstrap/4.0.0/css/bootstrap.min.css}" rel="stylesheet" />
	<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
	<link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap-datepicker.standalone.min.css}"/>
</head>
<body>
	<nav class="navbar navbar-dark bg-dark">
       <div class="container-fluid">
               <a  href="#">
                   <img alt="payments" src="/images/payments-logo.png" />
               </a>
       </div>
	</nav>

	<section layout:fragment="content"> </section>

	<footer class="js-content">
		<div class="container-fluid">
			<span class="d-none d-sm-inline-block">&copy; 2019 Ralitza Raynova. Modern WEB systems with Spring MVC</span>
		</div>
	</footer>
	<script th:src="@{/webjars/jquery/jquery.min.js}"></script>
	<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
	<script th:src="@{/js/bootstrap-datepicker.min.js}"></script>
	<script th:src="@{/js/bootstrap-datepicker.bg.min.js}"></script>
	<script th:src="@{/js/jquery.maskMoney.min.js}"></script>
	<script th:src="@{/js/plashtane.js}"></script>
</body>
</html>