<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8"/>
<meta name="viewport" content="width=device-width" />

<title>Ново плащане</title>

<link th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" rel="stylesheet" />
<link th:href="@{/webjars/bootstrap/css/bootstrap-theme.min.css}" rel="stylesheet" />
<link rel="stylesheet" type="text/css" href="/css/style.css"/>
</head>
<body>
<nav class="navbar navbar-inverse navbar-static-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">
                    <img alt="payments" src="/images/payments-logo.png" />
                </a>
            </div>
        </div>
</nav>
<form class="form-horizontal" method="POST" action="/plashtania">
		<div class="alert alert-success" th:if="${!#strings.isEmpty(message)}">
    		<span th:text="${message}">Плащането е запазено успешно !</span>
		</div>
    	<div class="panel panel-default">
    		<div class="panel-heading">
    			<h1 class="panel-title">Ново плащане</h1>
    		</div>
    		
    		<div class="panel-body">
				<div class="form-group">
					<label for="opisanie" class="col-sm-2 control-label">Описание</label>
					<div class="col-sm-4"> 
						<input type="text" class="form-control" id="opisanie" name="opisanie"/>
					</div>
				</div>
				<div class="form-group">
					<label for="padezhnaData" class="col-sm-2 control-label">Падежна дата</label>
					<div class="col-sm-2">  
						<input type="text" class="form-control"	id="padezhnaData" name="padezhnaData"/>
					</div>
				</div>
				<div class="form-group" >
					<label for="suma" class="col-sm-2 control-label">Сума</label>
					<div class="col-sm-2">
						<div class="input-group" >
  						  <span class="input-group-addon">лв.</span>
  						  <input type="text" class="form-control" id="suma" name="suma">
  						</div>
					</div>
				</div>
				<div class="form-group">
					<label for="sustoyanie" class="col-sm-2 control-label">Състояние</label>
					<div class="col-sm-2">
						<select class="form-control" name="sustoyanie">
							<option th:each="sustoyanie:${sustoyania}" th:value="${sustoyanie}" th:text="${sustoyanie.opisanie}"></option>
                    	</select>
                    </div>
				</div>
				<div class="form-group">
					<div class="col-sm-offset-2 col-sm-10">
						<button type="submit" class="btn btn-primary">Запази</button>
					</div>
				</div>
			</div>
    	</div>
	</form>
	<footer class="js-content">
		<div class="container-fluid">
			<span class="d-none d-sm-inline-block">&copy; 2019 Ralitza Raynova. Modern WEB systems with Spring MVC</span>
		</div>
	</footer>
<script th:src="@{/webjars/jquery/jquery.min.js}"></script>
<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
</body>
</html>