<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="Layout.html">
	
<head>
	<title>Ново плащане</title>
</head>
<section layout:fragment="content">

	<form method="POST" action="/plashtania/novo" th:object="${plashtane}">
		<div class="alert alert-success" th:if="${!#strings.isEmpty(message)}">
    		<span th:text="${message}">Плащането е запазено успешно !</span>
		</div>
		<div class="alert alert-danger" th:if="${#fields.hasAnyErrors()}">
			<div th:each="detailedError : ${#fields.detailedErrors()}">
				<span th:text="${detailedError.message}"></span>
			</div>
		</div>
		
    	<div class="card card-default" >
    		<div class="card-header clearfix">
	   			<h5 class="card-title float-left">Ново плащане</h5>
	   			<a class="btn btn-link float-right" th:href="@{/plashtania}">Плащания</a>
    		</div>

    		<div class="card-body">
    			<input type="hidden" th:field="*{kod}"/>
				<div class="form-group row">
					<label for="opisanie" class="col-sm-2 col-form-label">Описание</label>
					<div class="col-sm-6"> 
						<input type="text" class="form-control" id="opisanie" th:field="*{opisanie}" 
						th:classappend="${#fields.hasErrors('opisanie')}? is-invalid" />
					</div>
				</div>
				<div class="form-group row">
					<label for="padezhnaData" class="col-sm-2 control-label">Падежна дата</label>
					<div class="col-sm-6">  
						<input type="text" class="form-control"	id="padezhnaData" th:field="*{padezhnaData}"
						data-provide="datepicker" data-date-format="dd.mm.yyyy" data-date-language="bg"
						data-date-autoclose="true" data-date-today-highlight="true" data-date-orientation="right"
						th:classappend="${#fields.hasErrors('padezhnaData')}? is-invalid"/>
					</div>
				</div>
				<div class="form-group row">
					<label for="suma" class="col-sm-2 control-label">Сума</label>
					<div class="col-sm-6">
						<div class="input-group mb-3" >
  						  <input type="text" class="form-control js-currency" id="suma" th:field="*{suma}"
  						         th:classappend="${#fields.hasErrors('suma')}? is-invalid" />
  						  	<div class="input-group-append">
    							<span class="input-group-text " id="basic-addon2">лв.</span>
  							</div>
  						</div>
					</div>
				</div>
				<div class="form-group row" >
					<label for="sustoyanie" class="col-sm-2 control-label">Състояние</label>
					<div class="col-sm-6">
						<select class="form-control" th:field="*{sustoyanie}">
							<option th:each="sustoyanie:${sustoyania}" th:value="${sustoyanie}" th:text="${sustoyanie.opisanie}"></option>
                    	</select>
                    </div>
				</div>
				<div class="form-group row ">
					<div class="col-sm-2"> </div>
					<div class="col col-sm-6">
						<button type="submit" class="btn btn-dark ">Запази</button>
					</div>
					
				</div>
			</div>
		  </div>
		</form>
</section>

</html>