<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8"/>
<meta name="viewport" content="width=device-width" />

<title>Списък с плащания</title>

<link th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" rel="stylesheet" />
<link th:href="@{/webjars/bootstrap/css/bootstrap-theme.min.css}" rel="stylesheet" />
</head>
<body>
<nav class="navbar navbar-inverse navbar-static-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">
                    <img alt="payments" src="/images/payments-logo.png" />
                </a>
            </div>
        </div>
</nav>

<div class="panel panel-default" style="margin: 10px">
	<div class="panel-heading">
		<h1 class="panel-title">Списък с плащания</h1>
	</div>
	<div class="panel-body">
		<table class="table">
			<thead>
				<tr>
					<th>№</th>
					<th>Описание</th>
					<th>Падежна дата</th>
					<th>Сума</th>
					<th>Състояние</th>
					<th></th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="plastane:${plashtania}">
					<td th:text ="${plastane.kod}"></td>
					<td th:text ="${plastane.opisanie}"></td>
					<td th:text ="${plastane.padezhnaData}"></td>
					<td th:text ="${plastane.suma}"></td>
					<td th:text ="${plastane.sustoyanie}"></td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
<footer class="aw-layout-footer  js-content">
		<div class="container-fluid">
			<span class="aw-footer-disclaimer">&copy; 2019 Ralitza Raynova. Modern WEB systems with Spring MVC</span>
		</div>
	</footer>
<script th:src="@{/webjars/jquery/jquery.min.js}"></script>
<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
</body>
</html>