<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorator="Layout.html">
	  
<head>
	<title>Списък с плащания</title>
</head>
<section layout:fragment="content">

<div class="card card-default" style="margin: 10px">
	<div class="card-header clearfix">
		<h5 class="card-title float-left">Плащания</h5>
		<a class="btn btn-link float-right" th:href="@{/plashtania/novo}">Ново плащане</a>
	</div>
	<div class="card-body">
		<table class="table table-bordered table-striped">
			<thead>
				<tr>
					<th class = "text-center">№</th>
					<th class = "text-center">Описание</th>
					<th class = "text-center">Падежна дата</th>
					<th class = "text-center">Сума</th>
					<th class = "text-center">Състояние</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="plastane:${plashtania}">
					<td class = "text-center" th:text ="${plastane.kod}"></td>
					<td th:text ="${plastane.opisanie}"></td>
					<td class = "text-center" th:text ="${{plastane.padezhnaData}}"></td>
					<td class = "text-right" th:text ="|${{plastane.suma}} лв.|"></td>
					<td class = "text-center" >
						<span class="badge" th:text ="${plastane.sustoyanie.opisanie}"
						th:classappend="${plastane.neplateno ? 'badge-danger' : 'badge-success'}"></span>
					</td>
					<td class = "text-center"></td>
				</tr>
				<tr>
					<td colspan="6" th:if="${#lists.isEmpty(plashtania)}">Няма намерени плащания</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
</section>
</html>